.highlight-word{
    color: orangered;
}
.half-width{
    width: 300%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
p{
    color: red;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 35px;
}
.link-button{
    
}